body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url(/content/fond.png);
    background-size: cover;
    position: relative;
}


.logo{
    width: 12rem;
    height: 12rem;
    background-image: url(/content/logo.png);
    margin: 0;
    background-size: cover;
    background-position: center;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.message {
    color: #ffffff; /* Texte blanc */
    font-size: 2em; /* Grosse typo */
    line-height: 1.4;
}
