body {
    /* margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    font-family: Poppins, sans-serif;

    background-image: url(/content/fond.png);
    background-size: cover;
    position: relative;
}

.container {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* width: 100%;
    max-width: 600px; */
    height: 100%;
}

.left-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-image: url(/content/bouton-jump.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.action-button {
    opacity: 0%;
    width: 120px;
    height: 120px;
    background-color: #E77E51;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.dpad {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex: 1;
    width: 180px;
    height: 180px; 
    background-image: url(/content/manette.png);
    background-size: cover;
    background-position: center;
}

.dpad-button {
    background-color: #FEFAE0;
    color: #FEFAE0;
    border: none;
    cursor: pointer;
    position: absolute;

}

.up {
    opacity: 25%;
    width: 48px;
    height: 80px;
    top: 0;
    left: 48%;
    transform: translateX(-50%);
    clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 100%, 0 100%);
}

.down {
    opacity: 25%;
    width: 48px;
    height: 80px;
    bottom: 0;
    left: 48%;
    transform: translateX(-50%);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 50% 100%, 0 70%);
}

.left {
    opacity: 25%;
    width: 70px;
    height: 48px;
    left: 0;
    top: 48%;
    transform: translateY(-30%);
    clip-path: polygon(0 50%, 30% 0, 100% 0, 100% 100%, 30% 100%);
}

.right {
    opacity: 25%;
    width: 70px;
    height: 48px;
    right: 0;
    top: 48%;
    transform: translateY(-30%);
    clip-path: polygon(0 0, 70% 0, 100% 50%, 70% 100%, 0 100%);
}